* {
    padding: 0;
    margin: 0;
}

.firstbox {
    
    border: 5px solid red;
    background-color: tomato;
    color: rgb(245, 14, 14);
    background-image: url(image/background.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap:1.8rem ;
    
}

.secondbox {
color: blueviolet;
font-size: 5.0rem;
display: flex;
justify-content: right;
padding-top: 50vh;
gap: 1.8rem;
}
.image{
   height: 3rem;
   width: 6rem;
   gap: 1.8rem;
}
.navbar{
    display: flex;
    gap: 1.8rem;
}
.content{
    display: flex;
    gap: 1.8rem;
    font-family: sans-serif;
    justify-content: right;
}
